* { box-sizing: border-box; }

body {
	background-color: #fff;
	margin: 0;
	color: #333;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	font-weight: 300;
}

h2 {
	margin: 0;
	padding-top: 1rem;
}

button,
input,
select,
textarea,
input[type="checkbox"] + label { 
	font-family: inherit;
	border-radius: .25rem;
	min-height: 40px;
	min-width: 40px;
}

button {
	border-width: 1px;
	background: #fff;
}

button:not(.tag) { padding: .5rem 1rem; }

input,
select {
	border: none;
	background-color: transparent;
	-webkit-appearance: none;
}

input[type="number"] { font-size: inherit; }

label,
.field-label,
select,
hr { width: 110px; }

label { 
	font-weight: bold;
	display: inline-block;
	margin-bottom: .5rem;
	font-size: 14px;
}

.field-label { 
	display: inline-block;
	font-size: 14px;
}

.plus-sign {
	position: absolute;
	top: 6px;
	left: 7.5rem;
	display: flex;
	justify-content: center;
	width: 28px;
	border-radius: .25rem;
	padding: .25rem;
	pointer-events: none;
}

/* ============================================== utility classes ============================================== */

.primary { color: #ce93d8; }
.light { color: #ffc4ff; }
.dark { color: #9c64a6; }

.primary-border { border: 1px solid #ce93d8; }

.morning { border-color: #f06292; }
.day { border-color: #7986cb; }
.evening { border-color: #4fc3f7; }
.night { border-color: #4db6ac; }

.modal-background {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .3);
}

.modal {
	position: fixed;
	left: 50%;
	top: 50%;
	width: calc(100vw - 4rem);
	max-width: 32em;
	max-height: calc(100vh - 4rem);
	overflow: auto;
	transform: translate(-50%, -50%);
	padding: 1rem;
	border-radius: .25rem;
	background: #fff;
	z-index: 10;
}

.tag {
	min-height: 30px;
	font-size: .75rem;
	margin: .5rem .25rem 0 0;
}

.tag:last-of-type { margin-right: 0; }

.box-shadow {
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 
								0 1px 2px 0 rgba(0, 0, 0, .06);
 }

.inline { display: inline; }

.hidden { display: none; }

@media (min-width: 500px) {
	input[type="number"]::-webkit-inner-spin-button, 
	input[type="number"]::-webkit-outer-spin-button {  
		opacity: 1;
	}
}
