* { box-sizing: border-box; }

body {
	background-color: rgba(179,86,75,.5);
	color: #333;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

button,
input,
select,
textarea { 
	font-family: inherit;
	border-radius: 5px;
	min-height: 40px;
	min-width: 40px;
}

input[type="number"] {
	font-size: inherit;
}

input,
select {
	border: none;
	background-color: transparent;
	-webkit-appearance: none;
}

label,
select { 
	width: 110px;
}

label { 
	font-weight: bold;
	display: inline-block;
	margin-bottom: .5rem;
}
