* { box-sizing: border-box; }

body {
	background-color: rgba(179,86,75,.5);
	color: #333;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

button,
input,
select,
textarea { 
	font-family: inherit;
	border-radius: 5px;
	min-height: 40px;
	min-width: 40px;
}

button { 
	margin-right: .25rem;
	background: #fff;
	border: 2px solid #fff;
}

button.active { border: 2px outset #333; }

input[type="number"] {
	font-size: inherit;
}

input,
select {
	border: none;
	background-color: transparent;
	-webkit-appearance: none;
}

label,
.field-label,
select,
hr { width: 110px; }

label { 
	font-weight: bold;
	display: inline-block;
	margin-bottom: .5rem;
}

.field-label { display: inline-block; }

.tag {
	height: 30px;
	font-size: .75rem;
}

.value { color: #fff; }
